* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url('./images/bg-desktop-light.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #494c6b;
    height: 100vh;
}

.container {
    width: 540px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 40px;
}

.header h1 {
    color: #fff;
    margin: 0;
    display: inline-block;
    font-size: 40px;
}

.header button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.wrapper {
    background-color: #fff;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;
    margin: 24px 0;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.todo-list-item {
    padding: 20px 24px;
    border-bottom: 1px solid #E3E4F1;
}

.todo-list-item label {
    cursor: pointer;
}

.todo-list-item.completed label {
    text-decoration: line-through;
    color: #d1d2da;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
}

.actions button {
    background: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
    color: inherit;
}

footer {
    text-align: center;
    color: #9495A5;
    font-size: 14px;
    padding: 24px 0;
}